<h1>Books</h1>

<% @books.each do |book| %>

  <p>Title</p>
  <span><%= book.title %></span>
  <p>Body</p>
  <span><%= book.body %></span>
  <p><a href=/books/show>Show</a></p>
  <p><a href=/books/edit>Edit</a></p>
  <p><a href=/books/destroy>Destroy</a></p>
<% end %>
